.card{
    max-width: 50%;
    margin: 5% 25% 0 25%;
    text-align: center;
}

.input-1{
    display: flex;
    justify-content: space-between;
}

.input-1-field-1{
    margin: 0 10px 0 0;
}

.input-1-field-2{
    margin: 0 0 0 10px;
}